<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Tasklist">
<meta name="author" content="André Trindade">
<link rel="icon" href="../../favicon.ico" />

<title>Supero - Task List</title>

<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<script>
function show(){
$("#incluir").removeClass('d-none');
$("#incluir").addClass('jumbotron');
}
</script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#" onclick="show();">Incluir task</a> <a
						class="nav-item nav-link active" href="/task/listar_tasks">Listar tasks</a>
				</div>
			</div>
		</nav>
		<div class="d-none" id="incluir">
			<h3>Incluir task</h3>
			<form action="#" th:action="@{/task}" th:object="${task}"
				method="post">
				<p>
					Titulo: <input type="text" th:field="*{titulo}" />
				</p>
				<p>
					Descricao: <input type="text" th:field="*{descricao}" />
				</p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</form>
		</div>
        	<div class="jumbotron">
            <div class="jumbotron" draggable="true" style="background-color: #FAFAD2; width: 30%; weight: 5%;" th:each="task : ${tasks}">
            <p style="text-align: center; margin-top: -45px;"><span style="font-size: 13px; font-weight: bold;" th:text="${task.titulo} + ' - ' + ${task.status.nome}" ></span></p>
            <p style="text-align: center; font-size: 11px; margin-bottom: 60px;"><span th:text="${task.descricao}"></span></p>
            <p style="font-size: 8px; font-weight: bold; text-align: right; margin-bottom: -40px;"><br/>Data de criação: <span th:text="${task.dataCriacao}" ></span></p>
			<p style="font-size: 8px; font-weight: bold; text-align:right; margin-bottom: -5px; margin-top: -15px;" th:if="${task.dataConclusao} != null" >
			Data de conclusão: <span th:text="${task.dataConclusao}"></span>
			</p>
			<p style="font-size: 8px; font-weight: bold; text-align:right; margin-bottom: -5px;" th:if="${task.dataConclusao} == null" >				
			<a th:href="@{'/task/concluirTask?codigo=' + ${task.codigo}}">Concluir</a>
			</p>
				</div>
			</div>
        </div>		

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>